<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form action="" method="post">
        <div class="form-group" style="padding-top:100px">
            <div class="row">
                <label for="name" class="control-label col-md-1 col-md-push-3">用户名</label>
                <div class="col-md-6 col-md-push-3">
                    <input type="text" id="name" class="form-control" />
                </div>
            </div>
            <br />

            <div class="row">
                <label for="pwd" class="control-label col-md-1 col-md-push-3">输入密码</label>
                <div class="col-md-6 col-md-push-3">
                    <input type="text" id="pwd" class="form-control" />
                </div>
            </div>
            <div class="row">
                <label for="pwd" class="control-label col-md-1 col-md-push-3">重复密码</label>
                <div class="col-md-6 col-md-push-3">
                    <input type="text" id="repwd" class="form-control" />
                </div>
            </div>
        </div>
    </form>
</body>
</html>
